<p class="text-xl font-semibold m-2.5 text-gray-800">Designation table!</p>

<div class="flex">
    <table class="table-auto w-full border-collapse border-8 border-gray-300 shadow-md rounded-lg overflow-hidden">
        <thead class="bg-blue-100 text-gray-700">
            <tr class="bg-amber-500">
                <th class="px-4 py-2 border border-gray-300 text-left">DesignationId</th>
                <th class="px-4 py-2 border border-gray-300 text-left">Designation Name</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <tr class="bg-white divide-y divide-gray-200" *ngFor = "let role of designation">
                <td class="px-4 py-2">{{role.designationId}}</td>
                <td class="px-4 py-2">{{role.designationName}}</td>
            </tr>
        </tbody>
    </table>
</div>
